{% extends 'base.html' %}
{% load static %}


{% block teacher_detail %}
    <!DOCTYPE html>
<html lang="en">
    <body>
        <!-- Navigation-->
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ teacher.image.url }}" alt="..." /></div>
                    <div class="col-md-6">
                         {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                        <li style="color:green;font-size: larger" {% if message.tags %}
                                            class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                          {% endif %}      
                        <h1 class="display-5 fw-bolder">{{ teacher.full_name }}</h1>
                        <div class="fs-5 mb-5">
                            <h3 class="display-5 fw-bolder">Level: {{ teacher.level }}</h3>
                            <h3 class="display-5 fw-bolder">Subject: {{ teacher.category.title }}</h3>
                            <h3 class="display-5 fw-bolder">Speciality: {{ teacher.speciality }}</h3>
                            <h5>Taught courses:</h5>
                            {% for course in courses %}
                                <h6>{{ course }}</h6>
                            {% endfor %}
                        </div>
                        <p class="lead">{{ teacher.description }}</p>
{#                        <div class="d-flex">#}
{#                            <form method="post">#}
{#                                {% csrf_token %}#}
{#                                <div class="form-group">#}
{#                                    <h2>Place an order</h2>#}
{#                                </div>#}
{#                                <div class="form-group mb-3">#}
{#                                  <label for="formGroupExampleInput">Your name<input name="name" class="form-control"  placeholder="Your name"></label>#}
{#                                </div>#}
{#                                <div class="form-group mb-3">#}
{#                                  <label for="formGroupExampleInput2">Email<input name="email" class="form-control" placeholder="Your email" type="email"></label>#}
{#                                </div>#}
{#                                <div class="form-group mb-3">#}
{#                                  <label for="formGroupExampleInput2">Quantity<input name="quantity" class="form-control" type="number" placeholder="Quantity"></label>#}
{#                                </div>#}
{#                                  <div class="form-group mb-3">#}
{##}
{#                                    <button class="btn btn-success" type="submit">Send</button>#}
{#                                  </div>#}
{#                              </form>#}
{#                        </div>#}
                    </div>
                </div>
            </div>
        </section>
{% endblock %}