# Default ignored files
/../../../../:Lessons/Online_course/.idea/shelf/
/../../../../:Lessons/Online_course/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../:Lessons/Online_course/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../:Lessons/Online_course/.idea/dataSources/
/../../../../:Lessons/Online_course/.idea/dataSources.local.xml
